* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-primary: #adb6c4;
    --color-light: #db8c90;
    --color-warning: #AD4F54;
    --color-white: #fff;
    --color-white-variant: silver;
    --color-black: #000;
    --color-bgs: #961b0b;
    --color-bgs1: #ffeb3b;
    --color-bgs2: #ff00e0;
    --color-bge: aqua;
    --color-bge1: green;

    --transition: all 400ms ease;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    margin: 0; 
}

.wrapper {
    overflow: hidden;
    
}